.deposit-page {
  display: flex;
  min-height: 100vh;
  background-color: #141414;
  color: #F5F5F5;
  width: 1500px;
  margin-left: 100px;
  margin-top: 50px;
}

.deposit-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Account for sidebar width */
}

.deposit-steps {
  background: #1C1C1C;
  border-radius: 32px;
  padding: 20px;
  margin-bottom: 30px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.step:not(:last-child) {
  margin-right: 10px;
}

.step-circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: #D9D9D9;
  color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.step-connector {
  flex: 1;
  height: 1px;
  background: #1C1C1C;
  margin: 0 10px;
}

.step-content h3 {
  font-size: 14px;
  font-weight: 500;
  color: #F5F5F5;
  text-align: left;
  margin: 0;
}

.promo-banner {
  border-radius: 32px;
  padding: 20px;
  font-size: 14px;
  color: #F5F5F5;
  margin-bottom: 30px;
  display: flex;
  background: #1C1C1C;
  justify-content: space-between;
}

.details-link {
  color: #FFC107;
  text-decoration: none;
  margin-left: 5px;
}



