.not-found-page {
  display: flex;
  min-height: 100vh;
  background-color: #141414;
}

.not-found-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Adjust based on sidebar width */
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.not-found-image {
  width: 100%;
  height: auto;
}