.faq-section h3 {
  font-size: 16px;
  font-weight: 500;
  color: #F5F5F5;
  margin-top: 0;
  margin-bottom: 15px;
}

.faq-section a {
  color: #BDBDBD;
  text-decoration: none;
}

.faq-section a:hover {
  text-decoration: underline;
}

.info-block {
  width: 350px;
  background: #1C1C1C;
  border-radius: 32px;
  padding: 30px;
  height: fit-content;
}

.tips-section ul,
.faq-section ul,
.buy-crypto-section p {
  padding: 0;
  margin: 0;
}

.tips-section li,
.faq-section li {
  list-style: none;
  font-size: 14px;
  color: #BDBDBD;
  margin-bottom: 10px;
  line-height: 1.5;
}
.faq-section{
  padding: 0;
}

.main-deposit-section .faq-section{
  padding: 0;
  margin-top: 70px;
  margin-bottom: 100px;
}

.faq-section a {
  color: #BDBDBD;
  text-decoration: none;
}

.faq-section a:hover {
  text-decoration: underline;
}

.buy-crypto-section p {
  font-size: 14px;
  color: #BDBDBD;
  line-height: 1.5;
}