.asset-page {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  color: white;
  padding: 20px;
  padding-left: 290px; /* Добавляем отступ слева для sidebar */
  width: 1600px;
  padding-left: 350px;
}

.asset-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.asset-header-section {
  margin-bottom: 20px;
  width: 100%;
}

.asset-images-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

