.dashboard-page {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  color: white;
  padding: 20px;
  padding-left: 350px; /* Добавляем отступ слева для sidebar */
  width: 1600px;
}


.dashboard-content {
  flex: 1;
  padding: 20px;
  flex-direction: column;

}

.top-section {
  margin-top: 40px;
  display: flex;
  background-color: #141414;
  border-radius: 32px;
  border: 1px solid #333333;
  height: 120px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.section-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.section-item.with-icon {
  flex-direction: row;
  align-items: center;
}

.section-icon {
  width: 20px;
  height: 20px;
  margin-left: 40px;
  cursor: pointer;
}
.section-icon-avatar {
  width: 60px;
  height: 60px;
  margin-right: 40px;
}

.section-texts {
  display: flex;
  flex-direction: column;
}

.section-title {
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.section-title.clickable {
  cursor: pointer;
}

.section-subtitle {
  color: #E0E0E0;
  font-size: 12px;
  font-weight: 500;
}

.section-subtitle.unverified {
  color: #FFB74D;
}

.section-subtitle.security-low {
  color: #D32F2F;
}

.divider {
  width: 1px;
  background-color: #333333;
  height: 60%;
  margin: 25px 0;
}

.crypto-journey-section {
  background-color: #1C1C1C;
  border-radius: 32px;
  padding: 30px;
  margin: 40px auto;
  max-width: 100%;
}

.journey-title {
  color: #F5F5F5;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 30px;
}

.journey-cards-container {
  display: flex;
  justify-content: space-between;

}

.journey-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.card-title {
  color: #F5F5F5;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.card-text {
  color: #BDBDBD;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 20px 0;
  flex: 1;
}

.card-button {
  background-color: transparent;
  color: #FFCD39;
  border: 1px solid #FFCD39;
  border-radius: 16px;
  width: 150px;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: #FFCD39;
  color: #141414;
}

.dashboard-photos-section {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.photos-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.photos-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photo-item {
  flex: 1;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
.photo-item1 {
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
}