/* Устанавливаем те же размеры, что и у предыдущей секции */
.market-trends-section {
  margin-top: 100px;
  padding: 0 20px;
  max-width: 1200px; /* Установка максимальной ширины */
  margin-left: auto; /* Центрирование */
  margin-right: auto; /* Центрирование */
}

/* Убираем отступы слева и справа только на странице dashboard */
.dashboard-page .market-trends-section {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: 10px;
}
.asset-content .market-trends-section {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: 10px;
}
.deposit-page .market-trends-section {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: 10px;
}

.withdraw-content .market-trends-section {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: 10px;
}

.market-trends-title {
  color: #F5F5F5;
  font-size: 32px;
  font-weight: 500; /* Medium */
  margin-bottom: 40px;
  text-align: left;
}

.trading-button {
  margin-top: 80px; /* Отступ 80px от текста */
  background-color: #FFC107; /* Желтый фон */
  color: #141414; /* Цвет текста #141414 */
  border: 4px solid #141414; /* Первая обводка */
  outline: 1px solid #574B29; /* Вторая обводка */
  outline-offset: -5px; /* Смещение второй обводки внутрь */
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  display: inline-block;
}

.trading-button:hover {
  box-shadow: 0 0 15px #FFC107; /* Желтое свечение при наведении */
}

.market-trends-title .highlight {
  color: #FFC107; /* Желтый цвет для слова Market */
}

.table-container {
  background-color: #1C1C1C;
  border-radius: 32px;
  padding: 30px;
  overflow-x: auto;
}

.trends-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  color: #F5F5F5;
}

.trend-th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600; /* Medium */
  font-size: 16px;
  color: #BDBDBD; /* Цвет текста заголовков столбцов */
  border: none;
}


.trend-th:first-child {
  text-align: center;
}

.trend-th:nth-child(5) {
  text-align: center;
}
.trend-th:nth-child(4) {
  padding-right: 0px;
  width: 0px;
}


.horizontal-divider {
  height: 1px;
  background-color: #333333;
  width: 80%;
  margin: 0 auto;
  border: none;
}

.trend-td {
  padding: 16px;
  border: none;
  vertical-align: middle;
}

.trend-td:first-child {
  text-align: center;
}

.trend-th:last-child {
  padding-right: 0;
  text-align: center;
}
.trend-td:last-child {
  padding-right: 0;
  text-align: center;
}

.action-btn {
  background-color: transparent; /* Без фона */
  color: #FFC107; /* Желтый цвет текста */
  border: none; /* Без обводки */
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500; /* Medium */
  font-size: 16px;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
  position: relative;
  text-align: left; /* Выравнивание по левому краю */
}


.negative-change {
  color: #D32F2F; /* Красный цвет для отрицательных значений */
}

.positive-change {
  color: #4CAF50; /* Зеленый цвет для положительных значений */
}

.asset-name {
  display: flex;
  align-items: center;
  gap: 8px; 
  width: 100px;
}

.crypto-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.asset-info {
  display: flex;
  align-items: center; /* Выравнивание по центру по вертикали */
  gap: 4px; /* Небольшой отступ между названием и аббревиатурой */
}

.asset-full-name {
  font-weight: 500; /* Medium */
  color: #F5F5F5;
}

.asset-symbol {
  font-size: 10px;
  font-weight: 400; /* Regular */
  color: #BDBDBD;
  text-transform: uppercase; /* Заглавные буквы */
}

.trends-table tbody tr:hover {
  background-color: #141414; /* Цвет фона при наведении на строку в теле таблицы */
  border-radius: 32px;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  cursor: pointer;
}

.start-trading-button {
  margin-top: 80px; /* Отступ 80px под заголовком и текстом */
  background-color: #FFC107; /* Желтый фон */
  color: #141414; /* Цвет текста #141414 */
  border: 4px solid #141414; /* Первая обводка */
  outline: 1px solid #574B29; /* Вторая обводка */
  outline-offset: -5px; /* Смещение второй обводки внутрь */
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  width: 240px;
  text-align: center;
}

.start-trading-button:hover {
  box-shadow: 0 0 15px #FFC107; /* Желтое свечение при наведении */
}

.no-data {
  text-align: center;
  padding: 20px;
  color: #BDBDBD;
  font-style: italic;
}

.chart-td {
  padding: 16px;
  border: none;
  vertical-align: middle;
  text-align: center; /* Центрируем изображение графика */
  width: 100px; /* Фиксированная ширина для колонки с графиком */
}

.chart-image {
  max-width: 100%;
  height: auto;
  display: block;
}