.spot-page {
  padding: 20px;
  background-color: #141414;
  min-height: 100vh;
}

.spot-content {
  max-width: 1200px;
  margin: 0 auto;
}

.first-section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.first-subsection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first-subsection .spot-image {
  border-radius: 8px;
  display: block;
}

.second-subsection {
  flex: 1;
}

.second-subsection .spot-image {

  border-radius: 8px;
  width: 334px;

}

.second-section {
  display: flex;
  gap: 20px;
}

.third-subsection {
  flex: 1;
}

.third-subsection .spot-image {

  border-radius: 8px;
}

.fourth-subsection {
  flex: 1;
}

.fourth-subsection .spot-image {

  border-radius: 8px;
}