.withdraw-page {
  display: flex;
  min-height: 100vh;
  background-color: #141414;
  color: #F5F5F5;
  width: 1500px;
  margin-left: 100px;
  margin-top: 50px;
}

.withdraw-content {
  flex: 1;
  padding: 20px;
  margin-left: 250px; /* Account for sidebar width */
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content h1 {
  font-size: 32px;
  font-weight: 500;
  color: #F5F5F5;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  color: #BDBDBD;
}

.withdraw-container {
  display: flex;
  gap: 20px;
  background-color: #1c1c1c;
  border-radius: 32px;
}